@import '_base'

body
html
	background-color #111

a
	color #88f

a:visited
	color #ccf

h1
	color lightcoral

h2
	color lightgreen

h3
	color lightblue

h4
	color lightcoral

h5
	color lightgreen

h6
	color lightblue

p
	color #eee
