@import url('http://fonts.googleapis.com/css?family=Ubuntu')


text-decoration-line()
	-webkit-text-decoration-line arguments
	-moz-text-decoration-line arguments

text-decoration-style()
	-webkit-text-decoration-style arguments
	-moz-text-decoration-style arguments


body
html
	font-family 'Ubuntu', sans-serif
	font-size 1em

a
a:visited
	text-decoration-line underline
	text-decoration-style dotted

a:focus
a:hover
	text-decoration-line underline
	text-decoration-style solid

p
	line-height 1.6em
	margin-bottom 1.6em

h1
	color darkred
	font-size 3em
	font-weight normal

h2
	color darkgreen
	font-size 2.4em
	font-weight normal

h3
	color darkblue
	font-size 1.8em
	font-weight normal

h4
	color darkred
	font-size 1.6em
	font-weight normal

h5
	color darkgreen
	font-size 1.2em
	font-weight normal

h6
	color darkblue
	font-size 1em
	font-weight normal

ul
	padding-left 1.6em


.container
	margin 0 auto
	max-width 36em
