@import url("http://fonts.googleapis.com/css?family=Ubuntu");
body,
html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}
a,
a:visited {
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
  -moz-text-decoration-style: dotted;
}
a:focus,
a:hover {
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  -moz-text-decoration-style: solid;
}
h1 {
  color: #8b0000;
  font-size: 3em;
  font-weight: normal;
}
h2 {
  color: #006400;
  font-size: 2.4em;
  font-weight: normal;
}
h3 {
  color: #00008b;
  font-size: 1.8em;
  font-weight: normal;
}
h4 {
  color: #8b0000;
  font-size: 1.6em;
  font-weight: normal;
}
h5 {
  color: #006400;
  font-size: 1.2em;
  font-weight: normal;
}
h6 {
  color: #00008b;
  font-size: 1em;
  font-weight: normal;
}
ul {
  padding-left: 1.6em;
}
.container {
  margin: 0 auto;
  max-width: 36em;
}
