@import '../../_base'

body
html
	background-color #002b36

a
	color #eee8d5

a:visited
	color #93a1a1

h1
	color #dc322f

h2
	color #859900

h3
	color #268bd2

h4
	color #dc322f

h5
	color #859900

h6
	color #268bd2

p
	color #839496

li
	color #657b83
